
@{
    ViewData["Title"] = "AboutUS";
}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">
        Assure polite his really and others figure though. Day age advantages end sufficient eat expression travelling. Of on am father by agreed
        supply rather either. Own handsome delicate its property mistress her end appetite. Mean are sons too sold nor said. Son share three men power boy you.
        Now merits wonder effect garret own.

        Doubtful two bed way pleasure confined followed. Shew up ye away no eyes life or were this. Perfectly did suspicion daughters but his intention. Started
        on society an brought it explain. Position two saw greatest stronger old. Pianoforte if at simplicity do estimating.

        Add you viewing ten equally believe put. Separate families my on drawings do oh offended strictly elegance. Perceive jointure be mistress by jennings
        properly. An admiration at he discovered difficulty continuing. We in building removing possible suitable friendly on. Nay middleton him admitting consulted
        and behaviour son household. Recurred advanced he oh together entrance speedily suitable. Ready tried gay state fat could boy its among shall.
    </p>
    <p class="lead">
        <a href="" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</main>

