
@{
    ViewData["Title"] = "Usuarios";
}

<main>

    <div class="container">
        <div class="row">
            <h3>USUARIO</h3>
        </div>
        <div class="row">
            <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Acciones</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Rol</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-primary">Eliminar</button>
                        </td>
                        <td>Marcos</td>
                        <td>Mendoza</td>
                        <td>MMENDOZA</td>
                        <td>algun.coreo1@dominio.com</td>
                        <td>Activo</td>
                        <td>Administrador</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-primary">Eliminar</button>
                        </td>
                        <td>Marcos</td>
                        <td>Mendoza</td>
                        <td>MMENDOZA</td>
                        <td>algun.coreo2@dominio.com</td>
                        <td>Activo</td>
                        <td>Administrador</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-primary">Eliminar</button>
                        </td>
                        <td>Marcos</td>
                        <td>Mendoza</td>
                        <td>MMENDOZA</td>
                        <td>algun.coreo3@dominio.com</td>
                        <td>Activo</td>
                        <td>Administrador</td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-primary">Editar</button>
                            <button type="button" class="btn btn-primary">Eliminar</button>
                        </td>
                        <td>Marcos</td>
                        <td>Mendoza</td>
                        <td>MMENDOZA</td>
                        <td>algun.coreo4@dominio.com</td>
                        <td>Activo</td>
                        <td>Administrador</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</main>

